/* CSS Document */
@import"reset.css";
body{
	width:100%;
	height:auto;
	
	overflow-x:hidden
}

/*-----------------------------------------hader-------------------------------------------------------------*/
header{
	font-size:12px;
	color:rgba(0,0,0,0.5);
	
}
header .header-top{

	background: rgba(231, 231, 231, 0.2) ;
	overflow:hidden;
	
	padding:5px 0px;
	font-size:12px;
	color:rgba(0,0,0,1);
	padding-bottom:10px;
	padding-top:10px;
	
}

header .header-top .top-li {
	margin-left:50px;
	height::40px;
	position:relative;	
}
header .header-top .top-li img{
	position:absolute;
	top:-5px;
	left:20px;
}
header .header-top .top-li li{
	padding-right:20px;
	float:left;
}

header .header-top .top-li li a:link,header .header-top .top-li li a:visited{
	text-decoration:none;
	color:rgba(0,0,0,1);
	
}
header .header-top .top-li li a:hover{
	text-decoration:none;
	color:rgba(0,0,0,0.5);
}
header .header-top .top-li li:first-child{
	padding-left:50px;
	padding-right:50px;

	
}
header .header-top .top-li li:nth-of-type(4) a:hover{
	color:#FF0000;
	
}
header .header-top #g-pclock{
	padding-right:30px;
	float:right;
	border-bottom:	
}
header .banner{
	width:100%;
	height:345px;
	margin:0 auto;
	background:url(../IMAGES/banner.png) center no-repeat ;
	position:relative;
	
	
}
header .banner input.search-index{
	width:350px;
	height:40px;
	position:absolute;
	left:20%;
	top:20%;
	filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
	border-radius:50px ;
	padding-left:50px;
	border:none;
	
}
header .banner input.button-index{
	width:auto;
	height:40px;	
	position:absolute;
	left:50%;
	top:20%;
	background:#fff;
	font-size:14px;
	font-weight:900;
	border-radius:5px ;
	filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
	
	
}
header .banner img{
	
	position:absolute;
	left:19.5%;
	top:18%;
	filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
	z-index:222
	
	
}
header .banner  input.search{
	 width:180px;
	 height:30px;
	 position:absolute;
	 left:75%;
	 top:50%;
	 padding-left:20px;
	 filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
	 border-radius:30px ;
	 border:none;
	 font-size:12px;
	 
}
header .banner  input.button{
	width:27px;
	height:29px;	
	position:absolute;
	left:85.5%;
	top:50%;
	background: url(../IMAGES/ss.png);
	font-size:12px;
	font-weight:900;
	border-radius:5px ;
	filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
	margin-left:5px;
	border:none;
	cursor: pointer;
	
	
	
	
	
	
	 
}

/*-----------------------------------------section-------------------------------------------------------------*/
section#content {
	overflow:hidden;
	padding-bottom:50px;
	margin-top:-150px;
	z-index:32;
	background: #E7E7E7
	
}
section .content{
		width:1290px;
		height: auto;
		
		z-index:32;
		overflow:hidden;
		margin:0 auto;
		
	}
section#content nav{ 
	width:250px;
    margin-left:50px; 
	margin-top:20px;
	
	float:left;
	z-index:22200002;
	clear:both;
	position:relative;
}

section#content nav h3{ 
	
    padding:10px 50px;
	
}
section#content nav ul{ 
	background :#e7e7e7;
}
section#content nav ul li{
	padding:20px 20px; 
	border-bottom:1px solid #fff; 
	position:relative; 
	cursor:pointer;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
section#content nav ul li h3{ 
	background:none; 
	padding:0px;
	color:#000;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
section#content nav ul li:hover h3{
	padding-left:60px;

}

section#content nav ul li .box{
	 width:370px; 
	 height:auto; 
	 border:2px  solid #a3cbe5; 
	 position:absolute; 
	 top:5px; 
	 left:250px;
	 display:none;
	 background:rgba(255, 255, 225, 1);
	 padding:5px;
	 z-index:2222
	 
}
section#content nav ul li .box a{
	display:block;
	float:left;
	padding:5px 10px;
	margin:3px 10px;
	width:140px;
    
}
section#content nav ul li .box a:nth-of-type(odd){
	border-right: 1px solid #FFFFFF;
}
section#content nav ul li .box-4{
 text-align:center;
 padding-left:50px;
 width:270px;
 

}
section#content nav ul li .box-4 a{
	width:160px;
	border-right:none;
	
}
section#content nav ul li .box a:link,section#content nav ul li .box a:visited{
	color:#000;
	text-decoration: none;
	font-size:14px;
}
section#content nav ul li .box a:hover{
	color:#0099FF;
	text-decoration: none;
	font-size:14px;
	background: #fff;
	border-radius:5px;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;

}

section#content nav .add{ 
	background:#a3cbe5;
	color:#F0F0F0;
}


/*--------------*/
section#content .container{
	width:950px;
	height: auto;
	float:left;
	margin-top:20px;
	margin-left:30px;
	position:relative;
	
}

section#content .container .container-top{
	width:940px;
	height:auto;
	padding:5px;
	background: #E7E7E7;
	font-size:15px;
}

section#content .container .container-top p{
	padding-left:20px;
	font-weight:bolder;
}
section#content .container .container-fl {
	width:100%;
	height:42px;
	
	
	
	margin-top:10px;
	
}
section#content .container .container-fl ul{
	padding:5px 0px;
	
}
section#content .container .container-fl ul li {
	float:left;
	margin-right:20px;
	margin-left:5px;
	cursor:pointer;
	background:rgba(16,117,181,0.5);
	color:#333;
	padding:5px 10px;
	border-radius:10px;
	
	
}
.on{
	background: #fff;
	color: #000;
}
section#content .container .container-fl ul li:hover{
	color: #ccc;
}
section#content .container .container-content{
	background: ;
	margin-top:10px;
	box-shadow:1px 2px 5px rgba(0,0,0,0.5);
	padding:10px;
	clear:both;
	display:none;


	
}
section#content .container .container-content h2{
	font-size:20px;
	padding:5px 10px;
	border-bottom:5px solid #0099FF;
	margin:10px;
	
}
.container-content-li{
	overflow:hidden;
	position: relative;
	width:auto;
	
}

.container-content-li li{
	float:left;
	line-height:23px;
    text-align:center;
	width:115px;  
	height:24px;  
	list-style:none; 
	color:#000;
	
	margin-bottom:5px;
	margin-right:5px;
	padding:5px 0;
	 background : linear-gradient(rgba(220,220,255,0.4) 85%, rgba(125,125,255,0.5) 100%);
}
.container-content-li li:hover ~ .hover_bar { 
	display:block;
	position:absolute;
	top:30px;
	left:0;
	background-color:#08c;
	transition: all 560ms ease 0s;
}
.container-content-li :hover.hover_bar  {
	transition-duration: 10000s;
	 clear:both;
}
.container-content-li .hover_bar{ 
	width:115px;
    height:3px; 
	box-shadow:#069;}
.container-content-li li:hover ~ .hover_bar {
	left:0px;
}
.container-content-li li+li:hover ~ .hover_bar {
	left: 120px;
}
.container-content-li li+li+li:hover ~ .hover_bar {
	left: 240px;
}
.container-content-li li+li+li+li:hover ~ .hover_bar {
	left: 360px;
}
.container-content-li li+li+li+li+li:hover ~ .hover_bar {
	left: 480px;
}
.container-content-li li+li+li+li+li+li:hover ~ .hover_bar {
	left: 600px;
}

section#content .container .container-content p{
	text-indent:2em;
}
/*----------------------------------------footer-------------------------------------------------------------*/
footer{
    clear:both;
	text-align: center;
	font-size:12px;
	background:#E7E7E7;

}


/*---------------------------------------表格公共代码------------------------------------------------------------*/

.container-content{
	height:auto;
}
#container-content-column{
	overflow: hidden;
	height:auto;
	display:none;
	
}
#container-content-column li{

	height:auto;
	overflow:hidden;
	
	margin-bottom:5px;
	box-shadow:1px 1px 2px #ccc
	

}
#container-content-column li a{
	
	cursor:pointer;
	display:block;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	
}

#container-content-column li a:nth-of-type(1){
	
	float:left;
	background: url(../IMAGES/doc.gif)  no-repeat;
	padding-left:40px;
	
}

#container-content-column li a:nth-of-type(1):link,#container-content-column li a:nth-of-type(1):visited{
	text-decoration:none;
	color:#666666;
	font-size:16px;
}
#container-content-column li a:nth-of-type(1):hover{
	text-decoration: underline;
	color:#3366CC;
	font-size:16px;
}
#container-content-column li a:nth-of-type(2){
	width:80px;
	float:right;
	
	
}
#container-content-column li a:nth-of-type(3){
	width:100px;
	float:right;

	
}
#container-content-column li a:nth-of-type(4){
	width:50px;
	float:right;
	
}
#container-content-column li a:nth-of-type(5){
	width:50px;
	float:right;
	
}
#suspension{
	width:150px;
	height: auto;
	background:#666666;
	position:absolute;
	right:20px;
	z-index:222

}
#suspension ul li {
	padding:5px 10px;
	background:#FFFFFF;
	filter:Alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;
	
	
}
#suspension ul li a:link,#suspension ul li a:visited{
	color:#0099FF;
	text-decoration:none;
	
}
#suspension ul li a:hover{
	color:#0099FF;
	text-decoration:none;
}

/*-------------------------------------图片--------------------------------------*/
#container-content-column li #pic {
	background: url(../IMAGES/all.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="aac"] {
	background: url(../IMAGES/aac.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ai"] {
	background: url(../IMAGES/ai.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="aiff"] {
	background: url(../IMAGES/aiff.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="asp"] {
	background: url(../IMAGES/asp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="avi"] {
	background: url(../IMAGES/avi.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="bmp"] {
	background: url(../IMAGES/bmp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="c"] {
	background: url(../IMAGES/c.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="cpp"] {
	background: url(../IMAGES/cpp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="css"] {
	background: url(../IMAGES/css.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dat"] {
	background: url(../IMAGES/dat.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dmg"] {
	background: url(../IMAGES/dmg.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="doc"] {
	background: url(../IMAGES/doc.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="docx"] {
	background: url(../IMAGES/docx.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dot"] {
	background: url(../IMAGES/dot.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dotx"] {
	background: url(../IMAGES/dotx.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dwg"] {
	background: url(../IMAGES/dwg.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="dxf"] {
	background: url(../IMAGES/dxf.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="eps"] {
	background: url(../IMAGES/eps.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="exe"] {
	background: url(../IMAGES/exe.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="flv"] {
	background: url(../IMAGES/flv.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="gif"] {
	background: url(../IMAGES/gif.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="h"] {
	background: url(../IMAGES/h.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="html"] {
	background: url(../IMAGES/html.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ics"] {
	background: url(../IMAGES/ics.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="iso"] {
	background: url(../IMAGES/iso.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="java"] {
	background: url(../IMAGES/java.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="jpg"] {
	background: url(../IMAGES/jpg.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="jpeg"] {
	background: url(../IMAGES/jpg.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="key"] {
	background: url(../IMAGES/key.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="m4v"] {
	background: url(../IMAGES/m4v.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="mid"] {
	background: url(../IMAGES/mid.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="mov"] {
	background: url(../IMAGES/mov.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="mp3"] {
	background: url(../IMAGES/MP3.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="mp4"] {
	background: url(../IMAGES/MP4.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="mpg"] {
	background: url(../IMAGES/mpg.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="odp"] {
	background: url(../IMAGES/odp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ods"] {
	background: url(../IMAGES/ods.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="otp"] {
	background: url(../IMAGES/otp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ots"] {
	background: url(../IMAGES/ots.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ott"] {
	background: url(../IMAGES/ott.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="pdf"] {
	background: url(../IMAGES/pdf.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="php"] {
	background: url(../IMAGES/php.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="png"] {
	background: url(../IMAGES/png.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="pps"] {
	background: url(../IMAGES/pps.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="ppt"] {
	background: url(../IMAGES/ppt.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="psd"] {
	background: url(../IMAGES/psd.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="py"] {
	background: url(../IMAGES/py.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="qt"] {
	background: url(../IMAGES/qt.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="rar"] {
	background: url(../IMAGES/rar.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="rb"] {
	background: url(../IMAGES/rb.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="rtf"] {
	background: url(../IMAGES/rtf.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="sql"] {
	background: url(../IMAGES/sql.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="tga"] {
	background: url(../IMAGES/tga.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="tgz"] {
	background: url(../IMAGES/asp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="tiff"] {
	background: url(../IMAGES/asp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="txt"] {
	background: url(../IMAGES/txt.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="wav"] {
	background: url(../IMAGES/wav.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="xls"] {
	background: url(../IMAGES/xls.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="xlsx"] {
	background: url(../IMAGES/asp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="xlsx"] {
	background: url(../IMAGES/asp.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="xml"] {
	background: url(../IMAGES/xml.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="yml"] {
	background: url(../IMAGES/yml.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="tar"] {
	background: url(../IMAGES/zip.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="zip"] {
	background: url(../IMAGES/zip.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="gz"] {
	background: url(../IMAGES/zip.gif) no-repeat center left;
	padding-left: 32px;
}

#container-content-column li #pic[href$="bhd"] {
	background: url(../IMAGES/bhd.gif) no-repeat center left;
	padding-left: 32px;
}